<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'AppPeaje/css/style.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    {% block title %}<title>Peaje</title>{% endblock title %}
</head>
<body>
    <div class="main-container d-flex">
        <div class="sidebar" id="side_nav">
            <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
                <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">GGOO</span><span class="text-white">Peaje</span></h1>
                <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="bi bi-list"></i></button>
            </div>

            <ul class="list-unstyled px-2">
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"> <i class="bi bi-house-door"></i> Dashboard</a></li>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"> <i class="bi bi-list-ul"></i> Projects</a></li>
                <li class="">
                    <a href="#" class="text-decoration-none px-3 py-2 d-block d-flex justify-content-between"> 
                        <span><i class="bi bi-chat"></i> Messages</span>
                        <span class="bg-dark rounded-pill text-white py-0 px-2"> 02</span>
                    </a>
                </li>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"> <i class="bi bi-envelope-paper"></i> Services</a></li>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"> <i class="bi bi-people"></i> Customers</a></li>
            </ul>

            <hr class="h-color mx-3 ">
            <ul class="list-unstyled px-2">
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"> <i class="bi bi-sliders"></i> Settings</a></li>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"> <i class="bi bi-app-indicator"></i> Notifications</a></li>
            </ul>

            {% if user.is_authenticated %}
            <hr class="h-color mx-3 ">
            <ul class="list-unstyled px-2">
                <li class=""><a href="{% url 'logout' %}" class="text-decoration-none px-3 py-2 d-block"> <i class="bi bi-app-indicator"></i>Logout</a></li>
            </ul>         
            {% else %}
            <hr class="h-color mx-3 ">
            <ul class="list-unstyled px-2">        
                <li class=""><a href="{% url 'login' %}" class="text-decoration-none px-3 py-2 d-block"> <i class="bi bi-app-indicator"></i>Login</a></li>
            </ul>
            {% endif %}

        </div>
        <div class="content">
            {% block navbar %}
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="container-fluid">

                    <div class="d-flex justify-content-between d-md-none d-block">
                        <button class="btn px-1 py-0 open-btn me-2"><i class="bi bi-list-nested"></i></button>
                            <a class="navbar-brand fs-4" href="#"><span class="bg-dark rounded px-2 py-0 text-white">CL</span></a>
                    </div>
                    <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="bi bi-list-nested"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Profile</a>
                            </li>
                        </ul>
                    </div>

                </div>

            </nav>
            {% endblock navbar %}
            <div class="dashboard-content px-3 pt-4">
                <h2 class="fs-5"> Dashboard</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Qui ut, nesciunt obcaecati eaque quis, sint quam quaerat, corrupti incidunt ipsa atque officiis 
                    necessitatibus magnam! Laboriosam blanditiis animi beatae voluptatem nulla?
                </p>
                {% if user.is_authenticated %}
                    Hi {{ user.username }}!
                    {% block div_content %}

                    {% endblock %}
                    
                {% else %}
                    <p>You are not logged in</p>
                    
                    {% endif %}
                
            </div>

            <div class="container">
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                    <div class="col-md-4 d-flex align-items-center">
                        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                            <i class="bi bi-bootstrap-fill"></i>
                        </a>
                        <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
                    </div>
                
                    <ul class="nav col-md-4 justify-content-md-center list-unstyled d-flex">
                        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-twitter"></i></a></li>
                        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-facebook"></i></a></li>
                        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-instagram"></i></a></li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>

    <script src="{% static 'AppPeaje/js/main.js' %}"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

    <script>

        $(".sidebar ul li").on('click', function() {
            $(".sidebar ul li.active").removeClass('active');
            $(this).addClass('active');
        });

        $('.open-btn').on('click', function(){
                $('.sidebar').addClass('active');
        });

        $('.close-btn').on('click', function(){
                $('.sidebar').removeClass('active');
        });
    </script>
</body>
</html>
