<!DOCTYPE html>
{% extends "AppPeaje/base.html" %}
{% block div_content %}

  <h1 class="text-center"> INFORMES</h1>

  <!-- 
    var xArray =  {{ estaciones|safe }};
    var yArray = {{ importes }};
  -->

  <div class="row">

    <div class="col-xl-4 col-lg-5">
      <!-- Header card -->
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary"> Total facturado por estacion</h6>
          <!-- Dropdown, opciones para fechas a analizar, etc -->
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLinkDona" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Body card -->
        <div class="card-body">
          <canvas id="dona"></canvas>
        </div>
      </div>

    </div>

    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Header card -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary"> Comparativo diario por estacion</h6>
          <!-- Dropdown, opciones para fechas a analizar, etc -->
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLinkMixto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Body card -->
        <div class="card-body">
          <canvas id="chartMixto"></canvas>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Header card -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Comparativo caja de estacion Sources</h6>
          <!-- Dropdown, opciones para fechas a analizar, etc -->
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLinkBarras" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Body card -->
        <div class="card-body">
          <canvas id="barras"></canvas>
        </div>
      </div>
    </div>
  </div>

  <ul>
    {% for key, value in estaciones.items %} 
      <li>{{key}} - {{value.Total}}</li>
    {% endfor %}
    <li>
      {{ estaciones.ert.Total }}</li>
  </ul>
  {% for i in estaciones %}
    {{ estaciones.i.Total }}
  {% endfor %}


<!-- JavaScript, crear charts y pasar valores -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>

    const barras = document.getElementById('barras');

    const tipos = {
      'Chart 1':'doughnut',
      'Chart 2':'bar',
      'Chart 3':'bar',
    };

    //var testing = {
    //  'Chart 1': '{{ estaciones.ert.Total }}' };
    //testing.FacundoMVP = "value1";
    //console.log(testing);

    var datas = {
      'Chart 1' : {
        'labels' : [],
        'data' : []
      },
      'Chart 2' : {
        'sobreescribir':{},
        'labels' : [],
        'datasets' : []
      }
    }
    
    for (i in {{estaciones|safe}}) {
      datas['Chart 1']['labels'].push(i);
      datas['Chart 1']['data'].push({{estaciones|safe}}[i]['Total']);
    };
    console.log(datas);

    const dona = document.getElementById('dona');
    new Chart(dona, {
      type: tipos['Chart 1'],
      data: {
        labels: datas['Chart 1']['labels'],
        datasets: [{
          label: 'Estaciones',
          data: datas['Chart 1']['data'],
          backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
          ],
          hoverOffset: 4
        }],
    }
    });

    //var testing = [0,2];
    //if (testing[2] == undefined) {
    //  console.log('indefinido wacho');
    //};

    //{'ert': {'Total': 2115.0, 'Diario': {'2022-11-28': 810.0, '2022-11-29': 1305.0}},
    // 'Facundo MVP': {'Total': 2610.0, 'Diario': {'2022-11-29': 1620.0, '2022-12-01': 990.0}}}
    for (estacion in datas['Chart 1']['labels']) {
      const estacion_ = datas['Chart 1']['labels'][estacion];

      var dset = {
        type: 'bar',
        label: estacion_,
        data: [],
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
      };

      for (fecha in {{estaciones|safe}}[estacion_]['Diario']) {
        if (datas['Chart 2']['sobreescribir'][fecha] == undefined){
          datas['Chart 2']['labels'].push(fecha);
          datas['Chart 2']['sobreescribir'][fecha] = "";
        };
        dset.data.push({{estaciones|safe}}[estacion_]['Diario'][fecha]);
      };
      datas['Chart 2']['datasets'].push(dset);

    };
    console.log(datas);

    const mixto = document.getElementById('chartMixto');
    new Chart(mixto, {
      type: tipos['Chart 2'],
      data: {
          labels: datas['Chart 2']['labels'],
          datasets: datas['Chart 2']['datasets']
        },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
        }
    });

    new Chart(barras, {
      type: tipos['Chart 3'],
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

  </script>


{% endblock %}
