<!DOCTYPE html>
{% extends "AppPeaje/base.html" %}
{% block div_content %}
  <h1 class="text-center"> INFORMES</h1>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <div id="graficoEstacion" style="width: 50%; float:right"></div>

  <!-- 
    var xArray =  {{ estaciones|safe }};
    var yArray = {{ importes }};
  -->


  <!--  graficos nuevos  -->
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <canvas id="barras"></canvas>
            </div>
            <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <canvas id="dona"></canvas>
            </div>
            <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <canvas id="chartMixto"></canvas>
            </div>
        </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>

    const barras = document.getElementById('barras');
  
    new Chart(barras, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

    const dona = document.getElementById('dona');
    new Chart(dona, {
      type: 'doughnut',
      data: {
        labels: [
          'Red',
          'Blue',
          'Yellow'
        ],
        datasets: [{
          label: 'My First Dataset',
          data: [300, 50, 100],
          backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
          ],
          hoverOffset: 4
        }],
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    }
    });

    const mixto = document.getElementById('chartMixto');
    new Chart(mixto, {
      type: 'bar',
      data: {
          labels: [
            'January',
            'February',
            'March',
            'April'
          ],
          datasets: [{
            type: 'bar',
            label: 'Bar Dataset',
            data: [10, 20, 30, 40],
            borderColor: 'rgb(255, 99, 132)',
            backgroundColor: 'rgba(255, 99, 132, 0.2)'
          }, {
            type: 'bar',
            label: 'Line Dataset',
            data: [50, 50, 50, 50],
            fill: false,
            borderColor: 'rgb(54, 162, 235)'
          }]
        },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
        }
    });

  </script>

  <!--  graficos nuevos  -->

  <!--
  <script>
    var trace1 = {
    type: 'bar',
    x: [1, 2, 3, 4],
    y: [5, 10, 2, 8],
    marker: {
      color: '#C8A2C8',
      line: {
          width: 2.5
        }
      }
    };
    var trace2 = {
      type: 'bar',
      x: [1, 2, 3, 4],
      y: [10, 20, 1, 10],
      name: "sum",
      marker: {
        color: 'Green',
        line: {
            width: 2.5
          }
        },
    };

    var data = [ trace1,  trace2];

    var layout = { 
      title: 'Responsive to window\'s size!',
      font: {size: 18}
    };

    var config_viejo = {responsive: true}

    Plotly.newPlot('graficoEstacion', data, layout, config_viejo );

  </script>

  <div id="graficoDia" style="width: 50%; float:left"></div>

  <script>
    var xArray = {{ estaciones|safe }};
    var yArray = {{ importes }};

    var layout = {title:"Total facturado por estacion"};

    var data = [{labels:xArray, values:yArray, type:"pie"}];

    Plotly.newPlot("graficoDia", data, layout);

  </script>
  -->


{% endblock %}
