<!DOCTYPE html>
{% extends "AppPeaje/base.html" %}
{% block div_content %}
    <h2 class="fs-3"> Tickets</h2>

    {% if activo %}
        <form action="/tickets/" method="post" class="row row-cols-lg-auto g-3 align-items-center">
            {% csrf_token %}

            <div class="col-12">
                <h5 class="fs-5"> Tipo de Vehiculo: </h5>
            </div>

            <div class="col-12">
                {{ form.tipoVehiculo }}
            </div>
            <div class="col-12">
                <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <table class="table table-bordered" id="datatable">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">importe</th>
                <th scope="col">tipo de vehiculo</th>
                <th scope="col">operador</th>
                <th scope="col">casilla</th>
                <th scope="col">turno</th>
            </tr>
            </thead>
            <tbody>
                {% for item in db %}

                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.fecha }}</td>
                    <td>{{ item.hora }}</td>
                    <td>{{ item.importe }}</td>
                    <td>{{ item.tipoVehiculo }}</td>
                    <td>{{ item.turno.operador.nombre }}</td>
                    <td>{{ item.turno.casilla.nombre }}</td>
                    <td>{{ item.turno.HoraPlanificada }}</td>
                </tr>
                {% endfor %}
        
            </tbody>
        </table>
            <!--
            <div class="input-group mb-3">
                {{ item.tipoVehiculo }}
            </div>
            -->
    {% else %}

        <h2 class="fs-5"> No hay turnos creados recientemente</h2>
        <button type="submit" class="btn btn-primary" onclick="location.href='../turnos'" > Turnos</button>

    {% endif %}

{% endblock %}

